*{
    background-color: beige;
    .nanum-gothic coding-regular {
        font-family: "Nanum Gothic Coding", monospace;
        font-weight: 400;
        font-style: normal;
      }
      text-align: center;
}
.imagenUsuario{
    width: 50px;
    height: 50px;
    background-color: beige;
}
.navbar{
    background-color: beige;
}
